.cart {
  position: fixed;
  right: 25px;
  z-index: 99;
}
.cart-list {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  border-radius: 15%;
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  width: max-content;
  position: absolute;
  right: 0;
  overflow: hidden;
  text-align: center;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-bottom: 1px solid;
  cursor: pointer;
}
.cart-item:hover {
  background-color: rgb(230, 143, 31);
}
.cart-badge {
  background-color: rgb(230, 143, 31);
  border-radius: 20%;
  width: max-content;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -30px;
}
.cart-item-image {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 30px;
}
.cart-item-price {
  background-color: rgb(103, 214, 103);
}
.cart-item-remove {
  color: red;
}
.cart-reset {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
