.products{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    border: solid;
    border-color: aqua;
}
h1{
    font-size: medium;
}
.product {
    position: relative;
    overflow: hidden;
    border: solid;
    border-color: blueviolet;
    padding: 10px;
}
.product .product-image{
    cursor: pointer;
    border-radius:30px;
    overflow: hidden;
}
.product .product-desc{
    font-size: 0.8rem;
    position: absolute;
    /* width: -webkit-fill-available; */
    bottom: -500px;
    /* width: 100%; */
    background-color: rgba(0,0,0,.8);
    padding: 15px;
}

.product .product-image:hover + .product-desc{
    bottom: 5px;
}

.product .product-price{
    position: absolute;
    right: 0;
    background-color: brown;
    padding: 5px 10px;
    border-radius:30px;
}